@import './main.scss';

.do{
    @include flexbox(center,column);
    
    &__cards{
        @include flexbox(center,column);
        &__row{
            @include flexbox(center,row);
        }
    }

}
@media only screen and (max-width: 1220px)
{
    .do{
        
        &__cards{
            @include flexbox(center,row);
            margin-bottom: 150px;
            &__row{
                @include flexbox(center,column);
            }
        }
    
    }

}
@media only screen and (max-width: 768px)
{
    .do{
        @include flexbox(center,column);
        
        &__cards{
         @include grid(1);
        
         @include flexbox(center,column);
         
        }
    }
    .title{
        padding-top: 100px;
        width: 90%;
        text-align: center;
        color: $primary;
        letter-spacing: 8px;
    }
}