@import './main.scss';
@media only screen and (max-width: 768px)
{
    .dont{
        @include flexbox(center,column);
        
        &__cards{
         @include grid(1);
        
         @include flexbox(center,column);
        }
        &__title{
            padding-top: 100px;
            padding-bottom: 100px;
            width: 90%;
            text-align: center;
        }
    }
    
}