@import './main.scss';
.footer{
    color: white;
    background-color: rgb(19, 19, 19); 
    @include flexbox(space-around,row);
    align-items: unset;

    h4{
        padding: 15px 0;
        font-size: 25px;
    }
  
    &__helpline{
       padding: 60px 0;

    }
    &__developer{
        padding: 60px 0;
    }
}

@media only screen and (max-width: 400px)
{
    .footer{
        flex-direction: column;
        text-align: center;
    }
}