$font : 'Roboto';
$primary : rgb(0, 190, 181);
$secondary : rgb(150, 150, 150);

@mixin flexbox($pos,$dir) {
    display: flex;
    flex-direction: $dir;
    justify-content: $pos;
    align-items: center;
}

// Css grid, col_num refers to the number of columns

@mixin grid($col_num) {
    display: grid;
    grid-column: auto;
    grid-template-columns: repeat($col_num,1fr);
    grid-gap: 35px;
}

body{
    font-family: $font;
}

.title{
    color: $primary;
    margin: 170px auto;
    letter-spacing: 8px;
}
.helpline_number{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgb(0, 140, 255);
    border-radius: 20px;
    color: white;
    padding: 20px;
    margin: 0 20px 20px 0;
    z-index: 2;
  }