@import './main.scss';


.navbar{
@include flexbox(space-between,row);
height: 100px;
position: fixed;
top: 0;
width: 100%;
z-index: 1;

   &__links{
       width: 600px;
       @include flexbox(space-around,row);
       
       &__a{
        text-decoration: none;
        color: rgb(190, 65, 65);
        color: $secondary;
        color: white;
        &:hover{
            color: rgb(71, 218, 255);
        }
       }
   }

}
@media only screen and (max-width: 768px)
{
    .navbar{
        display: none;
    }
}