@import "./main.scss";

.navbar {
    @include flexbox(space-between, row);
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(15, 15, 15);
    z-index: 1;

    &__logo {
        width: 80px;
        margin-left: 10%;
    }

    &__links {
        width: 600px;
        @include flexbox(space-around, row);

        &__a {
            text-decoration: none;
            color: rgb(190, 65, 65);
            color: $secondary;
            color: white;
            &:hover {
                color: rgb(71, 218, 255);
            }
        }
    }

    .menu {
        width: 50px;
        height: 40px;

        display: none;
        &__bar {
            width: 100%;
            height: 8px;
            border-radius: 40px;
            background-color: white;
            z-index: 4;
        }
    }
}
@media only screen and (max-width: 768px) {
    .navbar {
        height: 120px;
        z-index: 3;

        &__links {
            position: fixed;
            top: 0;
            left: 0;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            width: 100%;
            background-color: rgb(15, 15, 15);
            font-size: 30px;
            transform: translateX(-100%);
            transition: transform 200ms ease-out;
            a {
                margin: 40px;
            }
        }
        &__logo {
            width: 120px;
            z-index: 4;
        }
        .menu {
            @include flexbox(space-between, column);
            margin-right: 10%;
        }
    }
}
